# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node_modules
node_modules/

# Cocoapods
ios/Pods/

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Bundle artifacts
*.jsbundle

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Metro
.metro-health-check*

# Supabase
supabase/.branches
supabase/.temp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
